.App {
  text-align: center;
}

.Title {
  background-color: rgb(142, 23, 40);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(30px + 3vmin);
  color: #ffffff;
}

.Listing {
  background-color: rgb(142, 23, 40);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: #ffffff;
}

.Container {
  background-color: rgb(142, 23, 40);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px 6%;
}

.ItemList {
  background-color: #ffffff;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: rgb(142, 23, 40);
}

.ItemImage {
  width: 200px; 
  height: 200px; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
